{% extends "base.html" %}
{% block nav_about %}active{% endblock %}
{% block content %}
    <div class="auth-header">
      <a href={{ url_for('main.index' )}}>
          <img src={{ url_for('static', filename='shpr.svg') }} alt="shpr logo"/>
      </a>
      <h1>about</h1>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url_for('main.index') }}>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
    <div>
        <h2 class="page-subtitle"><code>Secure, Full Stack eCommmerce Flask Application</code></h2>
        <p>
          Lorem ipsum.
        </p>
        <p><code>Open-Source Technologies</code></p>
        <ul>
          <li>Login/Registration w/ 2FA (Flask-Login)</li>
          <li>CSP (Flask-Talisman)</li>
          <li>CSRF-Protected Forms (Flask-WTForms)</li>
          <li>Hashed Passwords</li>
          <li>Bootstrap</li>
          <li>Font Awesome Icons</li>
        </ul>
    </div>
    
{% endblock %}