{% extends "base.html" %}
{% block nav_about %}active underline{% endblock %}
{% block content %}
    <div>
      <h1 class="sb__logo">About</h1>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url_for('main.index') }}>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
    <div>
        <h5 class="sb__subtitle">Team Members:</h5>
        <ul>
          <li>Naval Monga</li>
          <li>Marvin Xu</li>
          <li>Ivan Khokhlov</li>
        </ul>
        <hr style="border-color:#ffffff;"/>
        <h5 class="sb__subtitle">Project Description:</h5>
        <hr style="border-color:#ffffff;"/>
        <h5 class="sb__subtitle">Project Writeup:</h5>
    </div>
    
{% endblock %}