{% extends "base.html" %}
{% block nav_about %}active underline{% endblock %}
{% block content %}
    <div>
      <h1 class="page-title">about</h1>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url_for('main.index') }}>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
    <div>
        <h2 class="page-subtitle">Description:</h2>
        <p><code>Secure, E-Commerce Flask Application</code></p>
          This project demonstrates a web application with a backend database, secured forms, and a user management system. The users of your website should have a reason to make an account. For example, they might need to sign in to favorite an item, create a post, or purchase something.
        </p>
        <p><code>Technologies</code></p>
        <ul>
          <li>Login/Registration w/ 2FA (Flask-Login)</li>
          <li>CSP (Flask-Talisman)</li>
          <li>CSRF-Protected Forms (Flask-WTForms)</li>
          <li>Hashed Passwords</li>
          <li>Bootstrap</li>
          <li>Font Awesome Icons</li>
        </ul>
    </div>
    
{% endblock %}