<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='apple-touch-icon.png') }}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='favicon-32x32.png') }}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='favicon-16x16.png') }}>
    <link rel="manifest" href={{ url_for('static', filename='site.webmanifest') }}>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='custom.css') }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap" rel="stylesheet">
    <!-- <script src="https://use.fontawesome.com/df56271fe5.js"></script> -->
    <link href={{ url_for('static', filename='faweb/css/all.css') }} rel="stylesheet"> <!--load all styles -->
    <script defer src={{ url_for('static', filename='faweb/js/all.js') }}></script>
    {% if title %}
        <title>{{ title }} / soldby.io / 338J</title>
    {% else %}
        <title>soldby.io / 338J</title>
    {% endif %}
</head>
<body class="unsplash__bg"> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-inverse">
            <span class="brand">
              <img src={{ url_for('static', filename='3d.svg') }} style="width: 1.5em"/>
            </span>
            <a class="navbar-brand sb__logo" href={{ url_for('main.index' )}} style="margin-left:0.25rem">soldby.io</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fab fa-vuejs" style="color:#ffffff"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href={{ url_for('main.index') }} class="nav-link {% block nav_home %}{% endblock %}"><i class="fas fa-igloo"></i>&nbsp;Home</a>
                    </li>
                    <li class="nav-item">
                        <a href={{ url_for('main.about') }} class="nav-link {% block nav_about %}{% endblock %}"><i class="fas fa-stroopwafel"></i>&nbsp;About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-vuejs"></i>&nbsp;Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>

                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto justify-content-end">
                    <li class="nav-item-not">
                        <form action={{ url_for('listings.create_listing') }}>
                            <button type="submit" class="btn btn-dark sb__button sb__navbutton"><i class="far fa-plus-square"></i><code>&nbsp;Sell</code></button>
                        </form>
                    </li>
                    <li class="nav-item">
                        {% if current_user.picture_url %}
                        <img class="img-nav-avatar" src={{ current_user.picture_url }} alt="profile image" style="border-radius:0.75em;"/>
                        {% else %}
                        <img class="img-nav-avatar" src={{ url_for('static', filename='default-user.svg') }} alt="default profile image" />
                        {% endif %}
                        <a href={{ url_for('users.account' )}} class="nav-link {% block nav_account %}{% endblock %}">&nbsp;{{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href={{ url_for('users.account' )}} class="nav-link {% block nav_cart %}{% endblock %}"><i class="fas fa-shopping-cart"></i>&nbsp;Cart(0)</a>
                    </li>
                    <li class="nav-item">
                        <a href={{ url_for('users.logout' )}} class="nav-link"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                    </li>
                </ul>

                {% else %}

                <ul class="nav navbar-nav ml-auto justify-content-end">
                    <li class="nav-item">
                        <a href={{ url_for('users.login' )}} class="nav-link {% block nav_login %}{% endblock %}"><span class="faspan">🔓</span>&nbsp;Login</a>
                    </li>
                    <li class="nav-item">
                        <a href={{ url_for('users.register' )}} class="nav-link {% block nav_register %}{% endblock %}"><span class="faspan">⚡️</span>&nbsp;Register</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <div class="row content-container">
            <div class="col-md-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>






    {#{% block content %}{% endblock %}#}
    <!--
    <script src={{ url_for('static', filename='js/jquery.min.js' )}}></script>
    <script src={{ url_for('static', filename='js/popper.min.js' )}}></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js' )}}></script>
    -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--<script src="https://kit.fontawesome.com/f69b7244e9.js" crossorigin="anonymous"></script>-->
</body>
</html>