{% extends "base.html" %}
{% block nav_home %}active underline{% endblock %}
{% block content %}
    <div>
        <h1 class="page-title">Explore</h1>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
    <div class="grid">
    {% for listing in listings %}
        <article class="col-md-8 col-lg-4 listing-content-section">
            <div>
                <div>
                    <a href={{ url_for('main.user_detail', username=listing.author.username) }}>{{ listing.author.username }}</a>
                    <small>on {{ listing.date.strftime('%B %d, %Y') }} listed:</small>
                </div>
                <div>
                    <img class="img-listing" src={{ listing.picture_url }} alt="item picture" />
                </div>
                <h5 class="sb__title">{{ listing.title }}</h5>
                <p class="">{{ listing.description }}</p>
            </div>
            <div class="flexrow-spacebetween">
                <p><code>Price: ${{ listing.price_in_pennies }}</code></p>
                <form action={{ url_for('cart.add_to_cart', listing_id=listing.id) }}>
                    <button type="submit" class="btn btn-light sb__button">add to cart<span></span>&nbsp;&rarr;</button>
                </form>
            </div>
        </article>
    {% endfor %}
    </div>
{% endblock %}