{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block content %}
    <!--
    <div>
      <h1 class="sb__logo">Home</h1>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
      </ol>
    </nav>
    -->
    <div class="banner">
        <h2 class="page-subtitle">Buy &amp; sell 🛒,<br/><br/>shipping included 💸.</h2>
        <form action={{ url_for('users.login') }}>
            <button type="submit" class="btn sb__button">login<span></span>&nbsp;&rarr;</button>
        </form>
        <br/>
        <form action={{ url_for('users.register') }}>
            <button type="submit" class="btn sb__button">join for free<span></span>&nbsp;&rarr;</button>
        </form>
    </div>
{% endblock %}