{% extends "base.html" %}
{% block content %}
    <div>
        <h1 class="page-title">Two-Factor Authenticator Enrollment</h2>
    </div>
    <p>
        This website requires mandatory 2FA enrollment. 
    </p>
    <!-- Registration Form: -->
    <p>
        Use the authenticator app to enroll with us! You will need to use this app to login in the future.
    </p>
    <div class="qr-container">
        <img src={{ url_for('users.qr_code') }} alt="QR Code for 2FA">
    </div>

    <div>
        When you're done, you can go to the <a href={{ url_for('users.login') }}>Login page</a>!
    </div>
{% endblock %}