.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.Python
pip-selfcheck.json
__pycache__/
bin/
lib/
include/
site.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover