:root {
  --dark-bg: #333333;
  --dark-text: #F5F8FA;
  --rh-green: #e43137;
  --primary: #e43137;
}

body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.ct {
  width: 100%;
}

.content-container {
  justify-content: center;
  align-items: flex-start;
  padding: 1em 1em;
}


a {
  color: var(--rh-green);
  opacity: 0.85;
  transition: all 0.3s ease-in;
}

a:hover {
  color: var(--rh-green);
  opacity: 1;
  text-decoration: none;
}

.underline{
  border-bottom: 0.15rem solid var(--rh-green);
}

a.active {
  opacity: 1;
  color: var(--primary);
}

h2.page-subtitle {
  text-transform: uppercase;
}

.video-bg {
  position:fixed;
  bottom:-55rem;
  left:0;
  z-index: -99;
  opacity: 0.85;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 3em;
}

.banner h3{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex__wrapper-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.qr-container {
  background-color: #FFFFFF;
  width: auto;
}

.space-bottom-sm {
  margin-bottom: 1em;
}

.img-avatar {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
}

.img-nav-avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
}

.img-listing {
  display: block;
  margin: 3rem auto;
  width: auto;
  height: 10em;
  overflow: hidden !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img-listing:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.flexcol-center {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcol-center h6 {
  align-self: flex-start;
}

.flexrow-spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.grid {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listing-content-section {
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #303030;
  padding: 1em 1em;
  margin: 1em;
  border: 0.15rem solid var(--rh-green);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.listing-content-section:hover {
  
  box-shadow: 0 5px 15px rgba(15, 76, 129, 0.9);
}

code {
  color: var(--rh-green);
}
