body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: #F8FAFE;
  color:hsla(200,0%,0%,.7);
  border-top: 2px solid #0f4c81;
}

.video-bg {
  position:fixed;
  top:0;
  left:0;
  right: 0;
  z-index: -99;
  width: auto;
  height: 150%;
  opacity: 0.65;
}

.flex__wrapper-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10em;
}

.flex__wrapper-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.sb__logo {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:hsla(200,0%,0%,.7);
  padding-left: 1px;
}

.sb__title {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #0f4c81;
}

.sb__subtitle {
  font-weight: 400;
  color: #000;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.sb__underline {
  text-decoration: underline;
  text-decoration-color: #0f4c81;
}

.sb__button {
  font-weight: 700;
  text-transform: uppercase;
  width: 25vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media only screen and (max-width: 800px) {
  .sb__button {
    width: 100%;
    margin-bottom: 1vh;
  }
}

.sb__button:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  justify-content: space-between;
}


.content-container {
  justify-content: center;
  align-items: flex-start;
  padding: 1em 1em;
}

.qr-container {
  background-color: #FFFFFF;
  width: auto;
}

.space-bottom-sm {
  margin-bottom: 1em;
}

.img-avatar {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
}

.img-nav-avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
}

.img-listing {
  margin-top: 1em;
  display: block;
  margin: 0 auto;
  width: auto;
  height: 10em;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img-listing:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.flexcol-center {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcol-center h6 {
  align-self: flex-start;
}

.flexrow-spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.grid {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listing-content-section {
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #303030;
  padding: 1em 1em;
  margin: 1em;
  border: 2px solid #0f4c81;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.listing-content-section:hover {
  
  box-shadow: 0 5px 15px rgba(15, 76, 129, 0.9);
}

.underline{
  border-bottom: 2.5px solid #0f4c81;
}

.active {
  color: #0f4c81 !important;
}

code {
  color: #0f4c81;
}

